__pycache__/
.spyproject/
temp/
saved_models/*
!/saved_models/readme.txt
dataset/UNv1.0/after_step_0/*.json
dataset/UNv1.0/after_step_2/*.json
dataset/UNv1.0/after_step_3/*.json
dataset/UNv1.0/dev_and_test/
dataset/UNv1.0/*.json
dataset/UNv1.0/*.pickle
dataset/UNv1.0/orig.*
